<div class="header">
  <div class="header-container">
    <div class="centered-containee">
      <a href="javascript:void(0)" (click)="goHome()"><img src="memo.svg" style="height: 30px; filter: brightness(0) invert(1);"/></a>
    </div>
  </div>
  <div class="header-container">
    <div class="centered-containee">Search...</div>
  </div>
  <div class="header-container">
    <div class="centered-containee">
      <a href="javascript:void(0)" (click)="requestRefresh()">Refresh</a>
    </div>
  </div>
  <div class="header-container">
    <login-status class="centered-containee" />
  </div>
</div>
