@if(mode == NoteComponentModeType.ReadOnly) {
<div class="box">
  <div>
  @if(note.title == '') {
  <p class="title">note #{{ note.id }}</p>
  }
  @else {
  <p class="title">{{ note.title }}</p>
  }
  <p>{{ note.content }}</p>
  </div>
  @if (buttonsVisible) {
  <div class="buttons">
  <button (click)="editNote()">edit</button>
  <button (click)="removeNote()">remove</button>
  </div>
  }
</div>
}
@else if(mode == NoteComponentModeType.Editable) {
<div class="editable">
  <note-editor [note]=note (acceptNote)="handleAcceptNote($event)" />
</div>
}
