.notes_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.new_note_grid {
  display: grid;
  margin: 50px auto;
}

.new_note_wrapper {
  place-self: center;
  width: 50%;
}

#no-notes-message {
  text-align: center;
}
