.notes_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.new_note_grid {
  display: grid;
}

.new_note_editor {
  margin: 50px auto;
  place-self: center;
  width: 50%;
}

