@if(mode == NoteComponentModeType.ReadOnly) {
<div class="box">
  <div>
  <p class="title">{{ note.title }} #{{ note.id }}</p>
  <p>{{ note.content }}</p>
  </div>
  @if (buttonsVisible) {
  <div class="buttons">
  <button (click)="editNote()">edit</button>
  <button (click)="removeNote()">remove</button>
  </div>
  }
</div>
}
@else if(mode == NoteComponentModeType.Editable) {
<div class="editable">
  <note-editor [note]=note (acceptNote)="handleAcceptNote($event)" />
</div>
}
@else {
<div class="box">
  <p style="margin:auto;font-size:100px;color:#005cbb">?</p>
</div>
}
