<div class="new_note_grid">
  <lazy-wrapper class="new_note_wrapper" #note_editor_wrapper [mode]=LazyWrapperMode.Loaded>
    <note-editor (acceptNote)="handleAcceptNote(note_editor_wrapper, $event)" />
  </lazy-wrapper>
</div>

<lazy-wrapper #notes_grid_wrapper [mode]=LazyWrapperMode.Loading>
  @if(notesService.notes.length == 0) {
    <div>
      <p id="no-notes-message">no notes, sorry</p>
    </div>
  }
  @else {
  <div class="notes_grid">
    @for(n of notesService.notes; track n.id)  {
      <lazy-wrapper #note_lazy_wrapper [mode]=LazyWrapperMode.Loaded>
        <note (acceptNote)="handleAcceptNote(note_lazy_wrapper, $event)" (deleteNote)="handleDeleteNote(note_lazy_wrapper, $event)" [note]=n />
      </lazy-wrapper>
    }
    <lazy-wrapper #load_more_wrapper [mode]=LazyWrapperMode.Loaded>
      <div class="box">
        <a href="javascript:void()" (click)="loadMoreNotes(load_more_wrapper)">more...</a>
      </div>
    </lazy-wrapper>
  </div>
  }
</lazy-wrapper>
