div {
  border: solid 1px #e9e9e9;
  width: 300px;
  padding: 10px;
  // margin: 10px;
  border-radius: 25px;
}

div input {
  width: 95%;
  outline: none;
}

div textarea {
  width: 95%;
  outline: none;
}

div button {
  margin-top: 10px;
}

.editable {
  border: solid 1px #0e2da3;
  background: #0e2da3;
}
